/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

html { 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

hr {
  background-color: $text-color;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Typography
*/

@font-face {
	font-family:'Lora';
	src: url('../fonts/Lora/Lora-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Lora';
	src: url('../fonts/Lora/Lora-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* Colour ref

Dark blue: #00303b;
Bege: #f1f2da;
Pink: #ff7777;

*/


/* General styles
*/

html {
  height: 100%;
}

body {
  color: #f1f2da;
  background-color: #00303b;
  font-family: 'Lora', Georgia, 'Linux Libertine', serif;
  font-weight: 400;
  height: 100%;
}

